/*------------------- ABOUT ME -------------------*/
/* .about-me {
  max-width: 1100px;
  margin: 0 auto;
} */

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 270px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 0.5em;
    align-items: center;
  }
  .section__title--about {
    grid-area: title;
  }

  .about-me__img {
    grid-area: img;
  }
}

@media (min-width: 800px) {
  .about-me {
    grid-template-columns: 1fr 350px;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    /* position: relative; */
    /* left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 8em);
    margin: 0; */
  }
}

.about-me__img {
  margin: 0 auto;
  width: 240px;
}
