.contact {
  display: flex;
}

.form-container {
  /* width: 60%; */
  /* height: 400px;
  padding: 50px; */
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 28% 75%, 13% 91%, 14% 75%, 0 75%);

  right: 2em;
}

@media (min-width: 200px) {
  .section__contact {
    margin-top: 2em;
    padding-bottom: 0;
    position: relative;
  }

  .form-container {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 85%,
      50% 85%,
      44% 100%,
      31% 85%,
      0 85%
    );
    /* width: 83%; */
    padding: 10px;
    height: 380px;
    left: 2em;
    right: 2em;
    border-radius: 1px;
    background-color: var(--clr-grey);
    position: absolute;
    top: 0;
  }
  .contact__img {
    margin-top: 300px;
    position: relative;
    bottom: 0;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .form-container {
    clip-path: polygon(
      0 0,
      100% 0%,
      100% 75%,
      28% 75%,
      23% 91%,
      14% 75%,
      0 75%
    );
    left: 15em;
    right: 2em;
    height: 450px;
  }
  .section__contact {
    margin-top: 5em;
  }
  .img-div {
    max-width: 700px;
  }
  .contact__img {
    margin-top: 280px;
  }
}

@media (min-width: 1000px) {
  .form-container {
    left: 20em;
    width: 60%;
    padding: 20px;
    clip-path: polygon(
      0 0,
      100% 0%,
      100% 75%,
      28% 75%,
      13% 91%,
      14% 75%,
      0 75%
    );
  }
  .contact__img {
    margin-top: 260px;
  }
}

.control--message > .textarea {
  width: 100%;
  height: 100%;
}

.control--message {
  height: 150px;
}

.control--half {
  height: 50px;
}

.control > input,
textarea {
  font-family: var(--ff-secondary);
  width: 70%;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: var(--clr-dark);
}

textarea {
  border-width: 1px 1px 1px 1px;
}

.control {
  padding: 10px 0;
}

.btn--form {
  margin: 0 auto;
}

.btn-container {
  width: 100%;
  display: inline-flex;
}

::placeholder {
  color: var(--clr-dark);
}
