/*------------------- TIMELINE -------------------*/

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: var(--clr-dark);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}
/*------------------- ROUND SHAPES -------------------*/
/* .container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--clr-purple);
  border: 2px solid var(--clr-dark);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
} */

/*------------------- LOSANGES -------------------*/

.container.left::before {
  position: absolute;
  content: "";
  color: #333;
  width: 16px;
  height: 16px;
  background: var(--clr-grey);
  /* border-bottom: 1px solid #eee;
  border-left: 1px solid #eee; */
  transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 2px;
  top: calc(50% - 10px);
  right: 23px;
}

/* .container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;

  right: 8px;
  background: var(--clr-dark);
  z-index: 1;
} */

.container.right::before {
  position: absolute;
  content: "";
  color: #333;
  width: 16px;
  height: 16px;
  background: var(--clr-grey);
  /* border-bottom: 1px solid #eee;
  border-left: 1px solid #eee; */
  transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 2px;
  top: calc(50% - 10px);
  left: 23px;
}

/* .container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
} */

/*------------------- ICONS -------------------*/
.container .icon {
  position: absolute;
  /* display: inline-block; */
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 35px);
  background: var(--clr-light);
  border: 2px solid var(--clr-dark);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 1;
  color: var(--clr-purple);
}

.container.left .icon {
  right: -20px;
}

.container.right .icon {
  left: -20px;
}

.container .content {
  padding: 10px 90px 10px 30px;
  background: var(--clr-grey);
  position: relative;
  /* border-radius: 0 500px 500px 0; */
}

.container.right .content {
  padding: 10px 30px 10px 90px;
  /* border-radius: 500px 0 0 500px; */
}

.container .content h2 {
  margin: 0 0 10px 0;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 112px;
    border-color: transparent var(--clr-dark) transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 70px;
  }

  .container.left .content,
  .container.right .content {
    padding: 20px;
    /* border-radius: 500px 0 0 500px; */
  }
}

.timeline .timeline-container .timeline-body:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}

.le-w {
  top: 0;
  position: absolute;
}
